@tailwind base;
@tailwind components;
@tailwind utilities;

/* Delete this on start your project. */
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(13, 17, 23);
}
/* */